
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  margin-top: 20px;
  display: flex; 
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
}

.social-icons img {
  width: 32px;
  height: 32px; 
  transition: transform 0.3s; 
}

.social-icons a:hover img {
  transform: scale(1.2); 
}
